// Modals
// Modals closed by default
.modals-wrapper,
.modal-custom {
  display: none;
}

// Custom modal overlay - used on checkout pages
body {

  &._has-modal-custom {

    .modal-custom._show {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba($black, 0.6);

      .modal-inner-wrap {
        width: 90%;
        margin: 0 auto;
        position: relative;
        top: $global-padding * 12;
        background-color: $white;
        border-radius: $global-radius;

        @include breakpoint(medium) {
          width: 50%;
        }
      }

      .modal-header {
        padding: ($global-padding / 2) $global-padding;
      }
    }
  }

  &._has-modal {

    .modals-wrapper {
      display: block;
    }

    .modal-popup {
      display: none;
    }

    .modal-popup._show {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      z-index: 100 !important;
      background-color: rgba($black, 0.6);

      .modal-inner-wrap {
        width: 90%;
        margin: 0 auto ($global-margin * 14);
        position: relative;
        top: $global-padding * 6;
        background-color: $white;
        border-radius: $global-radius;
        box-shadow: 0 15px 40px $grey-shadow-transparent;
        z-index: 100;

        @include breakpoint(medium) {
          width: 50%;
        }

        .modal-content {
          padding-top: 0;
          padding-bottom: 0;
        }

        .modal-footer {
          float: none;
          box-shadow: none;
          margin-top: $global-margin;
          padding-top: $global-padding;
          border-radius: $global-radius;
          clear: both;
        }

        .block-content {
          padding-bottom: $global-padding * 2;

          .actions-toolbar {

            .primary {
              display: inline;
            }

            div.secondary {
              float: right;
            }
          }
        }
      }

      .modal-header {
        text-align: left;
        padding: ($global-padding * 2) $global-padding 0;
        margin-bottom: $global-margin;

        h1 {
          font-size: $global-font-size * 1.5;
        }

        .action-close {
          @include icon($position: after, $icon: close) {
            margin: $global-margin / 2;
          };
          position: absolute;
          top: 0;
          right: 0;
          float: right;
          background: transparent;
          border: none;
          color: $grey;
          font-size: $global-font-size * 1.7;

          span {
            display: none;
          }

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

// New Customer Modal
.modal-popup.popup-authentication {

  &._show {

    .block-authentication {
      padding: 0 ($global-padding * 2);

      .block-title {
        font-size: rem-calc(24);
        color: $black;
      }

      p {
        margin-bottom: $global-margin / 2;
      }

      .fieldset.login {
        padding: 0;
      }
    }
  }
}

// Modal content when open
.modal-inner-wrap {

  .modal-header {
    border-bottom: 0;
  }

  .modal-content {
    box-shadow: none;
    padding: $global-padding;

    .title {
      background-color: $grey-light;
      display: block;
      padding: $global-padding;
      margin-bottom: $global-margin;
    }

    .field.street legend,
    .label {
      color: $grey;
      background-color: transparent;
      padding-left: 0;
    }
  }
}
