// Site alert messages
.page.messages {
  max-width: $global-width;
  margin: 0 auto;
  padding: $global-padding;
  color: $white;
  clear: both;
  position: relative;
  z-index: 99;

  .success,
  .error,
  .alert {
    padding: $global-padding;
    border-radius: $global-radius;
  }

  .success {
    background-color: map-get($foundation-palette, success);
  }

  .error {
    background-color: map-get($foundation-palette, alert);
    color: $white;
  }

  .alert {
    background: map-get($foundation-palette, warning);
  }
}

// Global Alerts
.global.message {

  // Demo store notice.
  &.demo {
    background-color: map-get($foundation-palette, alert);
    color: $white;
    padding: $global-padding;
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }

  &.success,
  &.error,
  &.alert {
    padding: $global-padding;
    border-radius: $global-radius;
  }

  &.success {
    background-color: map-get($foundation-palette, success);
  }

  &.error {
    background-color: map-get($foundation-palette, alert);
  }

  &.alert {
    background: map-get($foundation-palette, warning);
  }
}
