// Block Search from Header
.block-search {
  float: right;
  padding-left: $global-padding;
  position: relative;
  width: rem-calc(130);
  z-index: 4;

  @include breakpoint(medium) {
    width: rem-calc(250);
  }

  .block-title {
    font-size: 0;
  }

  input {
    border: 1px solid darken($grey, 5%);
    border-radius: $global-radius;
  }
}
